button {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px black;
    color: white;
    background-color: green;
}

.tekstboks {
    border: solid 1px black;
    width: 300px;
    height: 200px;
    margin-top: 1rem;
}